body {
    background-color: black;
    text-align: center;
    color: white;
}
.Header {
    text-align: right;
    color: blueviolet;
    text-decoration: underline;
    font-size: 60px;
}
#Header2 {
    text-align: center;
    color: rgb(147, 109, 183);
    text-decoration: underline;
    font-size: 40px;
}

.p {
    text-align: center;
    color: white;;
    font-family: "Montenegrin Gothic One", serif;
    font-weight: 400;
    font-style: normal;
}
.img {
    text-align: left;
    border-radius: 50%;
}


